<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <form class="form-inline" (submit)="addNote()" #noteForm="ngForm">
        <div class="form-group">
          <label for="content-field" class="sr-only"></label>
          <input 
            type="text" 
            class="form-control" 
            id="content-field"
            required
            placeholder="Enter a task..."
            [(ngModel)]="currentNote.content"
            name="content">
        </div>
        <button 
          type="submit"
          class="btn btn-primary"
          [disabled]="noteForm.form.invalid">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Add Task
        </button>
      </form>
    </div>
  </div>
  <div class="appAlerts">
    <app-alerts
      [alert]="noteAdded"
      (alerted)="noteAdded = $event">
    </app-alerts>
  </div>
  <div class="row">
    <div class="col-md">
      <div class="row">
        <app-note 
          *ngFor="let appNote of notes" 
          [cardNote]="appNote" 
          class="col-md-3"
          (deletedNote)="deleteNote(appNote)"
          (toggleCompleted)="updateNote($event)">
        </app-note>
      </div>
      <h5 class="col-md" *ngIf="notes.length === 0">
        <p>The task list is empty</p>
        <p>Add new tasks using the form above</p>
      </h5>
    </div>
  </div>
</div>