<div  *ngIf="!cardNote.deleted">
  <div 
    class="card" 
    (click)="statusToggle()" 
    [class.completed]="cardNote.completed">
      <div class="card-body">
        <span [hidden]="true">{{ cardNote.key }}</span>
        <p>{{ cardNote.content }}</p>
      </div>
      <div class="card-footer">
          <span 
            *ngIf="!cardNote.completed">
            <i class="fa fa-times" aria-hidden="true"></i>
            Not Complete
        </span>
          <span 
            *ngIf="cardNote.completed">
            <i class="fa fa-check" aria-hidden="true"></i>
            Completed
            <i 
                class="delete fa fa-trash" 
                aria-hidden="true" 
                (click)="deleted()">
            </i>
        </span>
      </div>
  </div>
</div>